@import './css/reset.css';



html {
  height: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

@font-face {
  font-family: 'mylodon';
  src:
    url(../../static/assets/fonts/Mylodon-Light.woff) format(woff),
    url(../../static/assets/fonts/Mylodon-Light.ttf) format(ttf);
  font-weight: normal;
  font-style: normal;
}
